<!doctype html>
<html>

<head>
  <title>PSI table</title>
</head>

<body>

  <div class='container'>
    <%- ReactApp %>
  </div>

  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>

</body>

</html>
