<!doctype html>
<html>

<head>
  <title>React App</title>
</head>

<body>

  <div class="container" id="ReactApp" data-app-route="<%- Route %>" >
    <%- ReactApp %>
  </div>


  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>

</body>

</html>
